# Configurações do Banco de Dados
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DATABASE=gestao_consultores

# Configurações de Segurança
AUTHENTICATION_API_KEY=sua_api_key_aqui

# Configurações de URL
API_URL=https://api.automacoesmkt.com.br

# Outras configurações
ENVIRONMENT=development
