# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretórios de build/distribuição
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Docker
.docker/
